


@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(fonts/Roboto-Regular.ttf) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(fonts/Roboto-Medium.ttf) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(fonts/Roboto-Bold.ttf) format("woff2");
    font-weight: bold;
}
 
* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
    color: #444444;
}


.container-fluid{
    width: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}


.d_flex {
    display: flex;
}
.d_none{
    display: none;
}
.space_around {
    justify-content: space-around;
}

.space_b {
    justify-content: space-between;
}

.flex_start {
    justify-content: flex-start;
}

.flex_end {
    justify-content: flex-end;
}

.flex_center {
    justify-content: center;
}

.flex_grow {
    flex-grow: 1;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.flex_column {
    flex-direction: column;
}

.flex_w {
    flex-wrap: wrap;
}

.align_c {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text_right{
    text-align: right;
}

.mr-10{
    margin-right: 10px;
}

.mt-10{
    margin-top: 10px;
}

.ml-10{
    margin-left: 10px;
}

.mb-10{
    margin-bottom: 10px;
}



.color_r {
    color: #FF3333;
}

.btn_red {
    color: #ffffff;
    background: #E24C4B;
    border: 1px solid #E24C4B;
}


.font_w500 {
    font-weight: 500;
}

.font_wB {
    font-weight: bold;
}

.line_h19 {
    line-height: 19px;
}


.back_w {
    background: #ffffff;
}

.text_justify {
    text-align: justify;
}

.position_r {
    position: relative;
}

.position_a {
    position: absolute;
}


.cursor {
    cursor: pointer;
}

.body{
    background-image: url('../img/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.body-left{
    width: 60%;
    padding: 106px 11% 30px 17%;
}

.body-right{
    width: 40%;
    padding: 150px 90px 100px 100px;
}


.box-item{
    background: #FFFFFF;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.08);
    border-radius: 24px 0px 24px 24px;
    padding: 9px 15px;
    margin: 35px 70px 35px 0px;
    min-height: 100px;
    min-width: 100px;
    height: 110px;
    width: 110px;
    
}

.box-item:hover{
    background: linear-gradient(151.88deg, #0545EF 14.86%, #0030B0 75.19%);
}

.img_item{
    min-height: 45px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.text-item{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
}
.box-item:hover .text-item{
    color: #ffffff;
}

.ml--100{
    margin-left: -100px;
}

.text-footer{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #727272;
}

.h2-footer{
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 4px;
}

.text-footer{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
}

.footer-body-left{
    margin-top: 50px;
}


.title_page{
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    letter-spacing: 0.06em;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-15{
    margin-bottom: 15px;
}

.text_yellow{
    color: #FFBF18;
}

.h2_page{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.text_white{
    color: #ffffff;
}

.box_frame iframe{
    width: 100%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.6));
}

.box_frame1 iframe{
    height: 315px;
}

.box_frame2 iframe{
    height: 100px;
}

.border_r10{
    border-radius: 10px;
}

.border_r20{
    border-radius: 20px;
}

.row .box_frame2{
    width: calc(100%/3 - 15px);
}


.footer-body-3{
    display: none
}

/* header */

.btn_menu {
    display: none;
}

.header_tt {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #FEBC10;
}

.header_tt .nav_tt {
    /* margin: 7px auto; */
    /* width: 1360px; */
    padding: 7px 100px;
}

.nav_tt .nav_hd_logo {

}

.img_logo{
    width: 60px;
    height: 60px;
}

.box_text_logo .text_ctt{
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.box_text_logo .text_name_tinh{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


.nav_tt .ul_menu .li_menu {
    padding: 8px 0px 8px 0px;
    margin-right: 30px;
    position: relative;
}

.nav_tt .ul_menu .li_menu:hover .dropdown_menu{
  
        display: block;
   
}

.dropdown_menu{
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 240px;
    background: #0030B0;
    padding: 0px 10px;
    display: none;
}

.dropdown_menu>.li_menu{
    padding: 8px 0px;
    border-bottom: 1px solid #ffffff;
    margin-right: 0px !important;
}

.dropdown_menu>.li_menu:last-child{
    border-bottom: unset;
}

.dropdown_menu2{
    width: 100%;
    display: none;
}

.li_menu  .text_menu{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}



.main .main_body {
    margin-top: 20px;
}


/* end header */






@media (max-width: 1366px) { 

    .body-left{
        width: 60%;
        padding: 106px 11% 30px 14%;
    }
}

@media (max-width: 1024px) { 

    .body{
        background-image: url('../img/bground_image.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .body-right {
        bottom: 0;
        width: 100%;
    }

}


@media (max-width: 480px) {

    .body{
        background-image: url('../img/bground_image.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
    }

    .body-left, .body-right{
        width: 100%;
    }
    .body-left{
        padding: 100px 15px;
    }

    .body-right {
        padding: 65px 15px;
    }

    .body-left .ml--100{
        margin-left: 0px;
    }
    .body-left .row{
        justify-content: space-between;
    }

    .body-left .row .box-item {
        margin: 8px 0px 8px 0px;
        width: calc(100%/3 - 15px);
        min-height: 105px;
        height: auto;
        padding: 7px 13px;
    }


    .footer-body-left{
        display: none;
    }

    .footer-body-3{
        display: flex;
        padding: 20px 7px;
    }

    /* .title_page, .text_yellow {
        display: none;
    }
    .h2_page, .text_white {
        display: none;
    }
    .title_page_top, .text_color {
        display: block;
        color: #0238CB;
    }
    .h2_page_top, .text_color {
        display: block;
        color: #444444;
    } */

}

